<footer>
    <div class="access-section">
        <section>
            <img src="/assets/images/icons/perfect-hour.svg" alt="Mi hora perfecta icon">
            <p>Mi hora perfecta</p>
        </section>
        <section>
            <img src="/assets/images/icons/shipping.svg" alt="Envíos a todo el país icon">
            <p>Envíos a todo el país</p>
        </section>
        <section>
            <img src="/assets/images/icons/pricing.svg" alt="Métodos de pago icon">
            <p>Métodos de pago</p>
        </section>
        <section>
            <img src="/assets/images/icons/return-label.svg" alt="Devoluciones fáciles icon">
            <p>Devoluciones fáciles</p>
        </section>
    </div>
    <div class="newsletter-section">
        <h2>Suscríbete a nuestro newsletter</h2>
        <form class="newsletter-form">
            <input type="text" name="newsletter-email" placeholder="tucorreo@mail.com">
            <button type="submit">
                <img src="/assets/images/icons/submit-tag.svg" alt="submit icon for button">
            </button>
            <p>Al ingresar mi correo acepto los términos y condiciones</p>
        </form>
    </div>
</footer>