.user-form {
	width: 90%;
	display: block;
	max-width: 550px;
	margin: 0 auto;
    @media (max-width: 768px) {
        padding: 15px;
    }
    .form-title, i {
        color: var(--darkpurple);
        font-size: 16px;
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        @media(max-width: 768px) {
            padding-top: 0;
            padding-bottom: 20px;
        }
    }
    .form-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @media(max-width: 560px) {
            grid-template-columns: 1fr;
        }
        label {
            @media(max-width: 560px) {
                width: 100%;
                margin: 0;
            }
        }
    }

    .txt-alert {
        opacity: 0;
        clear: left;
        display: block;
        height: 0;
    }
    .form-input {
        border: 1px solid #343434;
        font-family: var(--secundary-font);
        font-size: 10px;
        padding: 10px 15px;
        width: 100%;
        @media(max-width: 560px) {
            width: 100%;
        }
        &:focus {
            border: 1px solid var(--grey);
        }
        &.ng-invalid {
            &.ng-touched {
                border: 1px solid red;
                ~.txt-alert {
                    opacity: 1;
                    margin-bottom: 15px;
                    font-size: 10px;
                    height: auto;
                }
            }
        }
    }
    textarea.form-input {
        width: 100%;
        margin: 20px 0;
    }
    .submit-form {
        display: block;
        float: right;
        width: 100px;
        height: 30px;
        border: 2px solid transparent;
        color: var(--white);
        background-color: #000000;
        border-radius: 5px;
        font-size: 14px;
        text-transform: uppercase;
        &:hover {
            background-color: transparent;
            color: var(--darkpurple);
            border: 2px solid var(--darkpurple);
        }
    }
}