.home {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1076px;
    margin: 0 auto;
    padding-top: 33px;
    min-height: 60vh;
    @media(max-width: 768px) {
        display: block;
        padding-top: 0;
    }
    img {
        max-width: 500px;
        @media(max-width: 768px) {
            display: none;
        }
    }
}